server:
  port: 8080
  
spring:
  application:
    name: gate-way
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      routes:
      - id: account-service
        uri: http://localhost:2222
        predicates:
        - Path=/api/account-service/**
      - id: notification-service
        uri: http://localhost:3038
        predicates:
        - Path=/api/notification-service/**         
      - id: customer-service
        uri: http://localhost:4040
        predicates:
        - Path=/api/customer-service/**
#      - id: loan-service
#        uri: http://localhost:3032
#        predicates:
#        - Path=/api/loanservice/**
      default-filters:      - DedupeResponseHeader=Access-Control-Allow-Credentials Access-Control-Allow-Origin
      globalcors:        cors-configurations:
         '[/**]':
          allowedOrigins: "*"
          allowedMethods: "*"
          allowedHeaders: "*"          
management:
  endpoints:
    web:
      exposure:
        include:
        - "*"      

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka    
        
