@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}
.home {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}
.account,
.showbalance {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.accounts-summary,
.transaction-summary {
	padding-left: 240px;
  padding-right: 20px;
}

.customer-summary{
	padding-left: 260px;
  padding-right: 20px;
}

.Loan-summary {
  padding-left: 260px;
  padding-right: 20px;
}

.notification_summary {
  padding-left: 260px;
  padding-right: 20px;
}

.admin-users {
  padding-left: 260px;
  padding-right: 20px;
}

.table.table-condensed{
  border: 1px solid lightslategrey;
}

.display-balance {
  padding-left: 280px;
  padding-right: 20px;
}

.transaction-form {
  padding-left: 280px;
  padding-right: 20px;
}

.btn-text-right{
  justify-content: center;
  text-align: right;
  padding-right: 20px;
  height: 60px;
  }

.transaction-outer-box {
  justify-content: center;
  text-align: left;
  height: 38rem;
}

.transaction-inner-box {
  justify-content: center;
  text-align: left;
  height: 25rem;
  width: 40rem;
  border: 1px solid lightslategrey;
  margin-left: 9rem;
  margin-top: 20px;
}

.form-group {
  overflow: hidden;
  clear: both;
}

.icon-case {
  width: 30px;
  float: left;
  border-radius: 5px 0px 0px 5px;
  background:rgb(107, 145, 224);
  height:30px;
  position: relative;
  text-align: center;
  line-height:30px;
}

.leftcontact {
  width:49.5%; 
  float:left;
  border-right: 1px dotted #CCC;
  box-sizing: border-box;
  padding: 0px 15px 0px 0px;
}

.rightcontact {
  width:49.5%;
  float:right;
  box-sizing: border-box;
  padding: 0px 0px 0px 15px;
}

.right-dropdown {
  width:15.0%;
  float:right;
  box-sizing: border-box;
  padding: 10px 0px 10px 0px;
}

.pagination-buttons {
  width:15.0%;
  float:right;
  box-sizing: border-box;
  padding: 0px 0px 0px 0px;
}

.datecontact {
  width:60.0%;
  float:right;
  box-sizing: border-box;
  padding: 10px 0px 10px 0px;
}

.summaryContent {
  width:40.0%;
  float:left;
  box-sizing: border-box;
  padding: 10px 0px 10px 30px;
}